<div class="header-top">
    <div class="container">
        <div class="row header-top-content">
            <div class="col-lg-3">
                <a href="#">Value at your desk contact us</a>
            </div>
            <div class="header-top-right col-lg-9 d-flex justify-content-end">
                <a href="#" class="mr-2">Help desk |</a>
                <a href="#" class="mr-2">Emergency |</a>
                <a href="#">Contact</a>
            </div>
        </div>
    </div>
</div>

<div class="header-menu bg-light sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light">
            <a href="#" class="logo">
                <img src="assets/img/logo.png" alt="logo">
            </a>
            <div class="navbar-collapse flex-sm-row-reverse">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Departments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Timetable</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Doctors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Post Types</a>
                    </li>
                    <li class="nav-item mt-2">
                        <a href="#"><i class='fas fa-search'></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>