/* NAVBAR-CSS */

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* ICON COLOR */

.fa {
	font-size: 1.5rem;
}

.fa-youtube-play {
	color: white;
}

.fa-youtube-play:hover {
	color: rgb(179, 14, 14);
}

.fa-facebook-square {
	color: white;
}

.fa-facebook-square:hover {
	color: rgb(60, 27, 177);
}

.fa-linkedin-square {
	color: white;
}

.fa-linkedin-square:hover {
	color: rgba(56, 95, 180, 0.801);
}

.fa-phone-square {
	color: white;
	margin-right: .5rem;
	font-size: 1rem;
}

.fa-envelope {
	color: white;
	margin-right: .5rem;
	font-size: 1rem;
}

/* NAV-BRAND */

.navbar-brand span {
	color: white;
	font-size: 1rem;
}

/* ----------------------------------------------------------------------- */

/* DROPDOWN */

.dropdown__menu {
	background: #00a900e3 !important;
}

.dropdown-item {
	font-size: 17px;
	color: #00354f !important;
	color: #fff !important;
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-family: 'Roboto', sans-serif;
}

.dropdown-item:hover {
	background: #fff !important;
	color: #00354f !important;
	color: #16181b;
	text-decoration: none;
	background-color: #f8f9fa;
}

.dropdown-item:focus {
	color: #16181b;
	text-decoration: none;
	background-color: #f8f9fa;
}

/* BODY-CSS */

.logo-intro img{
	width: 20%;
}

.intro__content{
	text-align: center;
	font-size: 2rem;
}