/* FONT 4 ALL */

.font-4-all {
	font-family: MyriadPro;
}

/* HEADER BOTTOM */

.menu-item__link {
	color: #00354f!important;
	font-size: 20px;
	position: relative;
	padding: 20px 25px!important;
}

.menu-item__link:before {
	content: '';
	position: absolute;
	width: 0;
	height: 3px;
	background: red;
	bottom: 15px;
	-webkit-transition: .3s all;
	transition: .3s all;
}

.menu-item__link:hover:before {
	width: 68%;
}

.menu-item__link--active::before{
	width: 68%;
}

/* NAVBAR-CSS */

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* ICON COLOR */

.fa {
	font-size: 1.5rem;
}

.fa-youtube-play {
	color: white;
}

.fa-youtube-play:hover {
	color: rgb(179, 14, 14);
}

.fa-facebook-square {
	color: white;
}

.fa-facebook-square:hover {
	color: rgb(60, 27, 177);
}

.fa-linkedin-square {
	color: white;
}

.fa-linkedin-square:hover {
	color: rgba(56, 95, 180, 0.801);
}

.fa-phone-square {
	color: white;
	margin-right: .5rem;
	font-size: 1rem;
}

.fa-envelope {
	color: white;
	margin-right: .5rem;
	font-size: 1rem;
}

/* NAV-BRAND */

.navbar-brand span {
	color: white;
	font-size: 1rem;
}

/* ----------------------------------------------------------------------- */

/* DROPDOWN */

.dropdown__menu {
	background: #00a900e3 !important;
}

.dropdown-item {
	font-size: 17px;
	color: #00354f !important;
	color: #fff !important;
	display: block;
	width: 100%;
	padding: .25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	font-family: 'Roboto', sans-serif;
}

.dropdown-item:hover {
	background: #fff !important;
	color: #00354f !important;
	color: #16181b;
	text-decoration: none;
	background-color: #f8f9fa;
}

.dropdown-item:focus {
	color: #16181b;
	text-decoration: none;
	background-color: #f8f9fa;
}

/* BODY-CSS */

.logo-intro img {
	width: 20%;
}

.intro__content {
	text-align: center;
	font-size: 2rem;
}

.home-products__item {
	height: 470px;
	width: 95%;
	position: relative;
	display: inline-block;
	-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
	border-radius: 15px;
	margin: 0 15px;
	overflow: hidden;
	-webkit-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
	margin-bottom: 60px;
}

.home-products__content {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-items: center;
}

.home-products__intro {
	color: #00a900;
	align-items: center;
	font-size: 18px;
	margin-bottom: 0;
	text-align: center;
	min-height: 60px;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	margin-top: 1rem;
}

.home-products__thumbnail {
	width: 100%;
	height: 480px;
}

.home-products__logo {
	max-width: 100%;
	margin-bottom: 15px;
}

.home-products__logo--option1 {
	max-width: 50%;
}

.home-products__logo--option2 {
	max-width: 70%;
}

.title-partner {
	color: #00a900;
	text-align: center;
	font-weight: 500;
	display: inline-block;
	padding: 0 10px 10px;
	border-bottom: 3px solid red;
	margin: 0 auto 30px;
	display: inline-block;
}

.section {
	padding-bottom: 60px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.section__intro {
	text-align: center;
	color: #00354f;
}

.home-partners__slider {
	background: #d2ecfb;
	width: 100%;
	overflow: hidden;
	display: flex;
}

.home-partners__item {
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 40px;
	height: 282px;
}

.home-partners__item img {
    max-width: 60%;
	max-height: 150px;
	margin: 0;
}

.home-news__content{
	height: 470px;
	width: 100%;
	position: relative;
	display: inline-block;
	-webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
	border-radius: 15px;
	margin: 0 15px;
	overflow: hidden;
	-webkit-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
	margin-bottom: 60px;
}
